/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

footer p {
    margin: 0;
}

/* Estilos para el slider */
.slider-container {
    text-align: center;
    margin-top: 20px;
}

.slider {
    width: 80%; /* Reducido para evitar desbordamiento en pantallas más pequeñas */
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slide {
    width: 100%;
    display: none;
}

.slide img {
    width: 100%;
    display: block; /* Asegura que la imagen se muestre correctamente */
}

/* Ajuste adicional */
.slider-container .slider {
    max-width: 800px; /* Limita el ancho máximo del slider para un diseño más controlado */
}

/* Estilos específicos para el formulario */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form select,
form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding y border no incremente el ancho total */
}

form .btn-agregar {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

form .btn-agregar:hover {
    background-color: #45a049;
}

.mensaje {
    color: #4CAF50;
    font-weight: bold;
    margin-top: 10px;
}

.error {
    color: #f44336;
    font-weight: bold;
    margin-top: 10px;
}
