
body{
    font-family: calibri, sans-serif;
}

header {
    text-align: center;
    padding: 5px;
    background: #ffffff; 
    color: #08ac04;
}

.logo {
  height: 80px; /* Ajustar el tamaño del logo según necesites */
  position: absolute;
  left: 3%; /* Lo colocará en el lado izquierdo */
}

  
nav {
    background-color: #08ac04;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-weight: bold; /* Aplica negrita al texto del logo */
  }
nav a {
    text-decoration: none;
    color: #ffffff;
}
.imagen-equipo {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 70vh; /* Altura del contenedor, ajusta según sea necesario */
}

.imagen-equipo img {
    max-width: 100%;
    max-height: 100%;
}



/* Estilos para el contenido principal */
main {
    padding: 20px;
}

section {
    text-align: center; 
}

/* Estilos para el título de eventos */
#servicios h1 {
    text-align: center;
}

.imagen-equipo img {
    max-width: 100%;
}



/* Estilos para el footer */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
